*{
    margin: 0;
    padding: 0;
}
.parent{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #EDF2F8;
}
.container{
    background-color: white;
    display: flex;
    max-width: 790px;
    border-radius: 10px;
    overflow: hidden;
}
.parent .container .imageHome{
    width: 40%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.container .content{
    padding: 30px;
}
.container .content h3{
    padding-bottom: 20px;
    color: #545C6A;
}
.container .content .contentP{
    color: #B0B6C5;
}
.container .content .profile{
    display: flex;
    margin-top: 30px;
}
.container .content .profile .info{
    display: flex;
    justify-content: space-around;
    flex: 1;
    gap: 80px;
}
.container .content .profile img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.container .content .profile .info .date{
    color: #B3BBC2;
}
.container .content .profile .info .cont{
    position: relative;
}
.container .content .profile .info .chareImg{
    width: 22px;
    height: 22px;
    background-color: #EBF0F9;
    padding: 8px;
    cursor: pointer;
    position: relative;
    z-index: 99999;
}
.container .content .profile .info .panel{
    position: absolute;
    top: -66px;
    right: -50px;
    width: 200px;
    background-color: #49556B;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: none;
}
.container .content .profile .info .panel::after{
    content: '';
    position: absolute;
    top: 45px;
    left: 137px;
    width: 2px;
    height: 15px;
    border-width: 15px;
    border-color: #49556B transparent transparent transparent;
    border-style: solid;
}
.container .content .profile .info .wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.container .content .profile .info .panel .imgicon{
    width: 30px;
    height: 30px;
}
.container .content .profile .info .panel .imgicon:hover{
    transform: rotate(360deg);
    transition: 0.3s;
}
.container .content .profile .info .panel .share{
    color: #919EB4;
}
.container .content .profile .info .panel .share:hover{
    color: #fff;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #0fa,
        0 0 82px #0fa,
        0 0 92px #0fa,
        0 0 102px #0fa,
        0 0 151px #0fa;
        cursor: pointer;
        transition: 0.3s;
}









@media (max-width: 820px) {
    .container{
        width: 700px;
    }
}

@media (max-width: 740px) {
    .container{
        max-width: 380px;
        height: 100%;
        flex-direction: column;
    }
    .parent .container .imageHome{
        width: 100%;
        border-top-left-radius: 10px;     
        border-top-right-radius: 10px; 
        border-bottom-left-radius: 0;
    }
    .container .content .profile .info .panel{
        width: 370px;
        height: 500px;
        right: -48px;
        top: -25px;
        border-radius: 0;
    }
    .container .content .profile .info .panel::after{
        display: none;
    }
    .container .content .profile .info .wrapper{
        margin-left: -77px;
        gap: 30px;

    }
    .container .content .profile .info .panel .imgicon{
        width: 30px;
        height: 30px;
        padding: 19px 0;
    }
    .container .content{
        padding: 45px 30px ;
    }
}